<html ng-app="mainApp">
<head>
</head>
<body ng-cloak>

<link rel="stylesheet" type="text/css" href="/css/ingame.css">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>

<div class="containsAll" ng-controller="mainController as mainCtrl">
	<div>
		<div class="logo">

		</div>
		<div class="navigation">
			<table class="navigationTable">
				<tr>
					<td class="navTableData"><button ng-click="mainCtrl.changeTab('main')" style="btn btn-active">Main</button></td>
					<td><a href="/leagues"><button style="btn btn-active">Leagues</button></a></td>
					<td><button ng-click="mainCtrl.changeTab('collect')" style="btn btn-active">My collection</button></td>
					<td style="width: 50%;"></td>
					<td><button ng-click="mainCtrl.findGame()" style="btn btn-active">Look for game</button></a></td>
					<td style="width: 50%;"></td>
					<td ng-show="mainCtrl.username"> [[ mainCtrl.username ]] </td>
					<td ng-show="mainCtrl.username"> </td>
					<td class="navTableData">
						<div class="progress-wrapper">
							<round-progress
						    max="100"
						    current="mainCtrl.userexp"
						    color="#45ccce"
						    bgcolor="#eaeaea"
						    radius="25"
						    stroke="4"
						    semi="false"
						    rounded="true"
						    clockwise="true"
						    responsive="false"
						    duration="800"
						    animation="easeInOutQuart"
						    animation-delay="0">11</round-progress>
						    <div class="level"> [[ mainCtrl.userlevel ]] </div>
						</div>
					</td>
					<td ng-show="mainCtrl.username"> [[ mainCtrl.usergold ]] </td>
					<td ng-show="mainCtrl.username"></td>
					<td><a href="/users/logout"><button style="btn btn-active">Logout</button></a></td>
				</tr>
			</table>
		</div>
	</div>
	<div class="mainContent">
		<!-- COLLECTION HANDLER -->
		<link rel="stylesheet" type="text/css" href="/css/collection.css">
		<div ng-show="mainCtrl.activeTab('collect')">
			<div class="cardSpace" ng-controller="collectionControl as collect">
				<!-- CARD COLLECTION HEADER -->
					<div class="collectionHeader">
						<button ng-click="collect.changeTab('ownedCards')" style="btn btn-active">Owned cards</button>
						<button ng-click="collect.changeTab('allCards')" style="btn btn-active">All cards</button>
						<button ng-click="collect.toggleEditor()" style="btn btn-active">Deck editor</button>

						<div> Dust: [[ collect.userdust ]]</div>
					</div>


				<!-- POPUP PANEL CARD COLLECTION -->
				<div ng-click="collect.hidePopupPanel()" ng-show="collect.popupPanel" class="popupPanelWrap">
				<div ng-click="$event.stopPropagation()" class="popupPanel">
					<div><img ng-src="images/[[collect.cardHighlighted.fullImage]]"></div>
					<div>
						<button ng-click="collect.sellCard(collect.cardHighlighted)" class="btn btn-active">Sell Card</button>
						<button ng-click="collect.buyCard(collect.cardHighlighted)" class="btn btn-active">Buy Card</button>
					</div>
				</div>
				</div>

				<!-- CARD COLLECTION BODY -->
				<div ng-show="collect.checkTab('ownedCards')" style="float: left" ng-repeat="card in collect.allCards" ng-if="card.quantity > 0" class="cardShowcase">
					<img ng-click="collect.imageClicked(card)"  class="cardImage" ng-src="images/[[card.fullImage]]">
					<div> [[ card.quantity ]] </div>
				</div>
				<div ng-show="collect.checkTab('allCards')" style="float: left" ng-repeat="card in collect.allCards" class="cardShowcase">
					<img ng-click="collect.imageClicked(card)" class="cardImage" ng-src="images/[[card.fullImage]]">
					<div> [[ card.quantity ]] </div>
				</div>

				<!-- DECK EDITOR --> 
				<div ng-show="collect.editorOpened" class="editor" ng-click="collect.toggleInput('deactivate')">
					<div>
						<button style="btn btn-active">Decks</button>
						<button style="btn btn-active">Create</button>
					</div>
					<div ng-click="$event.stopPropagation()">
						<div ng-show="!collect.deckNameInput" ng-click="collect.toggleInput('activate')"> [[ collect.deckName ]] </div>
						<input ng-show="collect.deckNameInput" value="[[collect.deckName]]"></input>
					</div>
					<div ng-repeat="card in collect.currentDeck">
						<div class="editor-number"> [[ card.inDeck ]] </div>
						<div ng-click="collect.clickedInDecklist(card)" class="editor-card-name"> [[ card.name ]] </div>
					</div>
					<div>
						<button ng-click="collect.saveDeck()" stlye="btn btn-active">Save deck</button>
					</div>
				</div>	
			</div>
		</div>
		<!-- END OF COLLECTION HANDLER -->

		<!-- MAIN PAGE HANDLER -->
		<div ng-show="mainCtrl.activeTab('main')">
			This is the main page.
		</div>
		<!-- END OF MAIN PAGE HANDLER -->

		<!-- GAME ROOM HANDLER -->
		<link rel="stylesheet" type="text/css" href="/css/gameroom.css">
		<div ng-show="mainCtrl.activeTab('gameroom')" ng-controller="gameController as game">
			<div ng-show="game.lookingForGame">You are currently looking for game.</div>
			<div class="gameWrapper" ng-hide="game.lookingForGame">You are now in a game.</div>
		</div>
			</div>
		<!-- END OF GAME ROOM HANDLER -->

	<!-- CHAT Functionality -->
	<div ng-controller="chatController as chat">
		<div ng-show="chat.enabled" class="chat">
			<div class="innerchat">
				<form>
				<div id="chatcontent" class="chatcontent"></div>
				<input ng-model="chat.message" class="form-control textbox" value="{{ chat.message }}">
				<input ng-click="chat.submitMessage()" id="hidden" type="submit" name="update" value=" " hidefocus="true" tabindex="-1"/>
    			</form>
			</div>
		</div>
		<div class="footer">
			<button ng-click="chat.toggle()" id="chatbutton" class="btn btn-default">[[ chat.roomName ]]</button>
		</div>
	</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-svg-round-progressbar/0.4.4/roundProgress.min.js"></script>
<script src="/controllers/maincontroller.js"></script>
<script src="/controllers/gamecontroller.js"></script>

</body>
</html>