<div ng-controller="collectionControl as collect">
	<div class="cardSpace">
		<button ng-click="collect.getOwnedCards()" style="btn btn-active">Click to get cards.</button>
		<div style="float: left" ng-repeat="card in collect.allCards" class="cardShowcase">
			<img style="height: 300px" ng-src="images/[[card.fullImage]]">
			<div>CARD</div>
		</div>
	</div>
</div>